image: golang:latest

stages:
  - test

format:
  stage: test
  script:
    - go fmt gitlab.com/naterciom/gubgub
    - go vet gitlab.com/naterciom/gubgub
    - go test -race -cover gitlab.com/naterciom/gubgub


